# User-specific files
.idea/
.vscode/

# Windows image file thumbs
Thumbs.db
Desktop.ini

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# .NET Core Build Folders
bin/
obj/
out/

.env

# Publish directory
app/WebApi/obj/
app/WebApi/bin
app/WebApi/publish/
terraform/.terraform
*.tfstate
*.hcl
*.backup


# User-specific files
.idea/
.vscode/
.vs/
